body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://mocah.org/thumbs/514870-8-Bit-Minimalist.png);
    background-size: cover;
}
p{
    font-family: 'Press Start 2P', cursive;
    font-size:x-small;
    margin-left: 7px;
}
.title{
    font-family: 'Press Start 2P', cursive;
    color: #F8B4EB;
}
.container{
    background: rgb(0 0 0 / 73%);
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
}
.control{
    width: 500px;
    background-color: rgb(248, 180, 235, 0.55);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    margin: 20px 20px;
    border: 2px solid black;    
}
.points{
    display: flex;
}
.icons{
    display: flex;
    padding: 7px;
    justify-content: space-between;
}
.fas{
    margin: 0 7px 0 7px;
    cursor: pointer;    
}
.fa-hourglass-half{
    font-size: 15px;
}
.time{
    background-color: rgb(248, 180, 235, 0.55);
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin: 20px 20px;
    padding: 7px;
    font-family: 'Press Start 2P', cursive;
    font-size:x-small;
}
.swal-modal{
    width: 400px;
    background-color: rgba(221,191,170, 0.95);
    text-align: center;
}

.swal-button{
    background-color: #D0AEC5;
    color: #19141C;
    font-family:'Press Start 2P', cursive;
    font-size: x-small;
    
    border: 1px solid #4A3F39;
}
.swal-button:hover {
    background-color: #9D79AA;
}
.swal-title{
    font-family: 'Press Start 2P';
    font-size: large;
    
}
.swal-text{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    
}
@media screen and (max-width: 600px){
    body{
        background-size: cover;
    };
    .title{
        margin-top: 30px;
    }
    .swal-modal{
        width: 280px;
    }
    .swal-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .swal-button{
        width: 170px;
    }
    .control{
        width: 350px;
        margin: 20px 0px 20px 20px;
    }
    
}
@media screen and (max-width: 400px){
.control{
    width: 320px;
    margin: 20px 20px 20px 20px;
}
.title{
    font-size: small;
    margin-top: 30px;
}
}